<h1>Person Show Page</h1>
  <ul>
    <% @person.games.uniq.each do |game| %>
      <li><%= link_to game.name, game_path(game) %></li><br>
      
      <% game.roles.where(person_id: @person.id).each do |role_of_person| %>
          <li><%= role_of_person.occupation %> <%= role_of_person.person.name %></li>
          
      <% end %>
      
    <% end %>
  </ul>
